.cabecera{ 
    margin-bottom: 1rem;
}
.contenedor{
    padding: 0px !important;
    margin-bottom: 2px;
}
.navbar-brand{
    margin: 0px !important;
    color: #2980b9 !important;
}

.banner{
    height: 70%;
    border-radius: 10px;
    padding: 10px;
}
.menu , .categoria{
    border-radius: 10px;
}
.nav-link .active{
    background: #6D7275;
}
.list .form-check{
    font-size: 15px;
    margin-bottom: 15px;
}
.menu, .main, .post, .post-multimedia{  
    margin-bottom: 15px;
}
.post{
    height: 150px;
    border-radius: 10px;
    padding: 10px 15px 0px 15px;
}
.post-multimedia{  
    border-radius: 10px;
    padding: 15px;

}
.products-find{
border-radius: 10px
}
.products-find .input-group{
  
    margin-top: 15px;
}
.products-list{
    margin: 0 auto;
}

.product-single .card{
    border: 1px solid black;
}
.product-single .card-body{
    border: 1px solid black;
}
.price-image{
    padding-left: 5px;
}
.register{
    border-radius: 10px;

    padding: 15px;
}
.register .form-row{
    margin:10px;
}
.register .btn{
    margin:10px;
    border-radius: 10px;
}
@media (min-width: 768px) 
{
    .collapse.dont-collapse-sm{
        display: block !important;
      }

}
@media (max-width: 768px) 
{
   .banner{
       display: none;
   }
   .product-single{
     margin: 0 auto !important;
   }

}
/* css menu style */
.mx-auto.order-0{
    border-left: 2px solid  #2980b9;;
    border-right: 2px solid #2980b9;

}

  .navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
  }
  .navbar a {
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .navbar a:before,
  .navbar a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .navbar a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #2980b9;
  }
  .navbar a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .navbar a:hover:before,
  .navbar .current a:before {
    opacity: 1;
    width: 100%;
  }
  .navbar a:hover:after,
  .navbar .current a:after {
    max-width: 100%;
  }
  /*  end css menu style */

.navbar-nav.mr-auto .nav-item{
    margin-bottom: 5px;
}
.navbar-nav.mr-auto .fas.fa-shopping-cart{
    margin-right: 15px;
}
/* css category effect */
.category-style{
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 5px 0px 50px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    outline: none;
    position: relative;
    font-size: 18px;
    line-height: 40px;
    background-color: #2980b9;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.category-style i {
    font-size: 2em;
    width: 55px;
    line-height: 40px;
    position: absolute;
    left: -5px;
    top: 2px;
    -webkit-transform: rotate(-25deg) scale(1);
    transform: rotate(-25deg) scale(0.7);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .category-style:hover,
  .category-style.hover {
    color: #ffffff;
    background-color: #2573a7;
  }
  .category-style:hover i,
  .category-style.hover i {
    -webkit-transform: rotate(-20deg) scale(1.1);
    transform: rotate(-20deg) scale(1.1);
  }
  /* end category effect */

  .product-single {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;

    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
  }
  .product-single * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .product-single img {
    max-width: 100%;
    vertical-align: top;
  }
  .product-single figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .product-single h2,
  .product-single h4 {
    margin: 0;
  }
  .product-single h2 {
    font-weight: 600;
  }
  .product-single h4 {
    font-weight: 400;
    text-transform: uppercase;
  }
  .product-single i {
    font-size: 32px;
  }
  .product-single:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 0;
  }
  .product-single a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  .product-single:hover figcaption,
  .product-single.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .product-single:hover:after,
  .product-single.hover:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 0.9;
  }
/* WELCOME: posicionado del video */
 .signup video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width:100%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  /* Welcome: rellenamos espacios con gris y situamos tamaño del vh  */
  body .signup {
    position: relative;
    background-color: gray;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  /* WELCOME: indicamos que el form tendra que ir arriba del video */
  body .container
  {
    position: relative;
    z-index: 1;
  }

  .signup-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; }

  body .container {
   width:500px;
   position: relative;
   margin: 0 auto; }

   .form-group {
    overflow: hidden;
    margin-bottom: 20px; }
  
  .signup-content .form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;}

  .signup-content .form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;