.cabecera{ 
    margin-bottom: 1rem;
}
.contenedor{
    padding: 0px !important;
    margin-bottom: 2px;
}
.navbar-brand{
    margin: 0px !important;
    color: #2980b9 !important;
}

.banner{
    height: 70%;
    border-radius: 10px;
    padding: 10px;
}
.menu , .categoria{
    border-radius: 10px;
}
.nav-link .active{
    background: #6D7275;
}
.list .form-check{
    font-size: 15px;
    margin-bottom: 15px;
}
.menu, .main, .post, .post-multimedia{  
    margin-bottom: 15px;
}
.post{
    height: 150px;
    border-radius: 10px;
    padding: 10px 15px 0px 15px;
}
.post-multimedia{  
    border-radius: 10px;
    padding: 15px;

}
.products-find{
border-radius: 10px
}
.products-find .input-group{
  
    margin-top: 15px;
}
.products-list{
    margin: 0 auto;
}
.product-single{
    padding: 15px;
}
.product-single .card{
    border: 1px solid black;
}
.product-single .card-body{
    border: 1px solid black;
}
.price-image{
    padding-left: 5px;
}
.register{
    border-radius: 10px;

    padding: 15px;
}
.register .form-row{
    margin:10px;
}
.register .btn{
    margin:10px;
    border-radius: 10px;
}
@media (min-width: 768px) 
{
    .collapse.dont-collapse-sm{
        display: block !important;
      }

}
@media (max-width: 768px) 
{
   .banner{
       display: none;
   }

}
/* css menu style */
.mx-auto.order-0{
    border-left: 2px solid  #2980b9;;
    border-right: 2px solid #2980b9;

}

  .navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    padding: 0;
  }
  .navbar a {
    padding: 0.5em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .navbar a:before,
  .navbar a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .navbar a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #2980b9;
  }
  .navbar a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .navbar a:hover:before,
  .navbar .current a:before {
    opacity: 1;
    width: 100%;
  }
  .navbar a:hover:after,
  .navbar .current a:after {
    max-width: 100%;
  }
  /*  end css menu style */

.navbar-nav.mr-auto .nav-item{
    margin-bottom: 5px;
}
.navbar-nav.mr-auto .fas.fa-shopping-cart{
    margin-right: 15px;
}
/* css category effect */
.category-style{
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 5px 0px 50px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    outline: none;
    position: relative;
    font-size: 18px;
    line-height: 40px;
    background-color: #2980b9;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.category-style i {
    font-size: 2em;
    width: 55px;
    line-height: 40px;
    position: absolute;
    left: -5px;
    top: 2px;
    -webkit-transform: rotate(-25deg) scale(1);
    transform: rotate(-25deg) scale(0.7);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .category-style:hover,
  .category-style.hover {
    color: #ffffff;
    background-color: #2573a7;
  }
  .category-style:hover i,
  .category-style.hover i {
    -webkit-transform: rotate(-20deg) scale(1.1);
    transform: rotate(-20deg) scale(1.1);
  }
  /* end category effect */